<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Doctora Andrea Francy</title>
        <link rel="shortcut icon" href="/images/icons/doctor.png" type="image/x-icon">
        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/css/bootstrap.min.css" >

        <link rel="stylesheet"  href="/css/bootstrap-icons.css" >

        <link href="/css/owl.carousel.min.css" rel="stylesheet">

        <link href="/css/owl.theme.default.min.css" rel="stylesheet">

        <link href="/css/templatemo-medic-care.css" rel="stylesheet">

    </head>
        <!-- Google tag (gtag.js) -->
            <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-MRZVJ3DCRG" ></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-MRZVJ3DCRG');
            </script> -->
        <!-- Google tag (gtag.js) --> 
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11104891557"></script> 
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-11104891557'); </script>
        <!-- Event snippet for Reservar cita conversion page --> <script> gtag('event', 'conversion', {'send_to': 'AW-11104891557/-2HuCKm7vacYEKXlnK8p'}); </script>
    <body id="top">
    
        <main>

            <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
                <div class="container">
                    <a class="navbar-brand mx-auto d-lg-none" href="home.ejs">
                        Andrea Francy
                        <strong class="d-block">Especialista en Clinica Medica</strong>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#hero">Inicio</a>
                            </li>

                            

                            <li class="nav-item">
                                <a class="nav-link" href="#timeline">Mi Especialidad</a>
                            </li>

                            <a class="navbar-brand d-none d-lg-block" href="/">
                                Andrea Francy
                                <strong class="d-block">Especialista en Clinica Medica</strong>
                            </a>

                            <li class="nav-item">
                                <a class="nav-link" href="#about">Acerca de mi</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#booking">Donde estoy?</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#contact">Contacto</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>

            <section class="hero" id="hero">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/images/slider/1.jpg" class="img-fluid" alt="">
                                    </div>

                                    
                                    <div class="carousel-item">
                                        <img src="/images/slider/7.jpg" class="img-fluid text-center" alt="" >
                                    </div>
                                    
                                    
                                    <div class="carousel-item">
                                        <img src="/images/slider/6.jpg" class="img-fluid" alt="">
                                    </div>
                                    
                                    <div class="carousel-item">
                                        <img src="/images/slider/doctor-s-hand-holding-stethoscope-closeup.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="heroText d-flex flex-column justify-content-center">

                                <h1 class="mt-auto mb-2">
                                    Mejor
                                    <div class="animated-info">
                                        <span class="animated-item">Salud</span>
                                        <span class="animated-item">dia</span>
                                        <span class="animated-item">Vida</span>
                                    </div>
                                </h1>

                                <p class="mb-4 ">Andrea Francy profesional altamente competente, apasionada y dedicada que brinda un nivel excepcional de atención médica a sus pacientes.</p>

                                <div class="heroLinks d-flex flex-wrap align-items-center">
                                    <a class="custom-link me-4" href="#about" data-hover="Learn More">Contacto para Turnos</a>

                                    <p class="contact-phone mb-0"><i class="bi-phone"></i>3804271345</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="section-padding" id="about">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-12">
                            <h2 class="mb-lg-3 mb-3">Dra. Andrea del Valle Francy</h2>

                            <p>Mi compromiso con la educación continua y la investigación en el campo de la Medicina Interna demuestra una pasión por la excelencia y el deseo de mantenerme actualizada en las últimas tendencias y avances en el campo. Como resultado, mis habilidades y conocimientos son altamente valorados por mis colegas y pacientes por igual.</p>

                            <p>He demostrado una amplia comprensión y habilidad en el diagnóstico y tratamiento de enfermedades médicas complejas y crónicas. Mi capacidad para tomar decisiones clínicas informadas y precisas, así como para colaborar efectivamente con otros profesionales de la salud, es evidente en la calidad del cuidado que proporciono a mis pacientes.</p>
                        </div>

                        <div class="col-lg-4 col-md-5 col-12 mx-auto">
                            <div class="featured-circle bg-white shadow-lg d-flex justify-content-center align-items-center">
                                <p class="featured-text"><span class="featured-number">5</span> Años<br> de Experiencia</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="gallery">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-6 ps-0">
                            <img src="/images/gallery/4.jpg" class="img-fluid galleryImage" alt="get a vaccine" title="get a vaccine for yourself">
                        </div>

                        <div class="col-lg-6 col-6 pe-0">
                            <img src="/images/gallery/5.jpg" class="img-fluid galleryImage" alt="wear a mask" title="wear a mask to protect yourself">
                        </div>

                    </div>
                </div>
            </section>

            <section class="section-padding pb-0" id="timeline">
                <div class="container">
                    <div class="row">

                        <h2 class="text-center mb-lg-5 mb-4">Mi Especialidad</h2>
                        
                        <div class="timeline">
                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                                <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Experiencia en Covid-19</h3>

                                    <p>Experiencia con pacientes COVID-19 agudos y controles pos covid, estudio de secuelas  .</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <i class="bi-patch-check-fill timeline-icon"></i>
                                </div>

                                <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <time></time>
                                </div>
                            </div>

                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4">
                                <div class="col-9 col-md-5 ms-md-4 ms-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Experiencia en Terapia Intensiva</h3>

                                    <p>Atención de pacientes críticos que requieren control de signos vitales, ventilación mecánica, terapia de infusión, el monitoreo neurológico, prevención y tratamiento de infecciones, soporte emocional y psicológico para los pacientes y sus familias.</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <i class="bi-book timeline-icon"></i>
                                </div>

                                <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <time></time>
                                </div>
                            </div>

                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                                <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Valoración de Internación</h3>

                                    <p>Esta evaluación implica un análisis cuidadoso de la condición del paciente, incluyendo una revisión detallada de su historial médico, los síntomas actuales como asi  tambien de evaluación física</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <i class="bi-file-medical timeline-icon"></i>
                                </div>

                                <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <time></time>
                                </div>
                            </div>

                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4">
                                <div class="col-9 col-md-5 ms-md-4 ms-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Seguimiento de Patologias Cronicas</h3>

                                    <p class="mb-0 pb-0 strong">El Medico Clinico se dedica a la atención integral de adultos y puede regular una amplia variedad de patologías, entre ellas: Enfermedades cardiovasculares, Diabetes , pulmonares, gastrointestinales,  renales, autoinmunitarias  e infecciosas .</p>
                                    
                                    <p></p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <i class="bi-globe timeline-icon"></i>
                                </div>

                                <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <time></time>
                                </div>
                            </div>

                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                                <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Chequeos de Rutina</h3>

                                    <p>Examen físico, Análisis de sangre, Análisis de orina, Evaluación gastrointestinal, Evaluación de la salud mental, Evaluación cardíaca, entre otros.</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <i class="bi-person timeline-icon"></i>
                                </div>

                                <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <time></time>
                                </div>
                            </div>
                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4">
                                <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Obras Sociales</h3>

                                    <p class="mb-0 pb-0 strong">Trabajo con todas las Obras Sociales como asi tambien particulares.</p>
                                    
                                    <p></p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <i class="bi-person timeline-icon"></i>
                                </div>

                                <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <time></time>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            

            <section class="section-padding" id="booking">
                <div class="container">
                    <div class="row">
                    
                        <div class="col-lg-8 col-12 mx-auto">
                            <div class="container">
                                
                                <h2 class="text-center mb-lg-3 mb-2">Me encuentro en el Sanatorio Rioja</h2>
                                <div class="row">
                                    
                                    <iframe class="container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d868.7982992279631!2d-66.86017807075157!3d-29.4231493307591!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9427dbcef45c10a9%3A0xd7b3cc2c86817e11!2sSanatorio%20Rioja%20S.A.!5e0!3m2!1ses-419!2sar!4v1682740497747!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </main>

        <footer class="site-footer section-padding" id="contact">
            <div class="container">
                <div class="row">

                    <div class="col-lg-5 me-auto col-12">
                        <h5 class="mb-lg-4 mb-3">Horarios de Atención</h5>

                        <ul class="list-group list-group-flush">
                             <li class="list-group-item d-flex">
                                Lunes 
                                <span>17:00 PM - 20:00 PM</span> 
                            </li>

                            <li class="list-group-item d-flex">
                                Miercoles
                                <span>17:00 PM - 20:00 PM</span>
                            </li>

                            <!-- <li class="list-group-item d-flex">
                                Miercoles 
                                <strong><br>Atencion telefonica unicamente, por el momento</br></strong>
                            </li>  -->

                            <li class="list-group-item d-flex">
                                Viernes
                                <span>17:00 PM - 20:00 PM</span>
                            </li>

                            <!-- <li class="list-group-item d-flex">
                                Viernes : Closed
                            </li> -->
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6 col-12 my-4 my-lg-0">
                        <h5 class="mb-lg-4 mb-3">Sanatorio Rioja</h5>

                        <p><a href="mailto:hello@company.co">andreafrancy92@gmail.com</a><p>

                        <p>Avenida Facundo Quiroga Nro. 1117 - La Rioja</p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 ms-auto">
                        <h5 class="mb-lg-4 mb-3">Socials</h5>

                      <!--   <ul class="social-icon">
                            <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                            <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                            <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                        </ul> -->
                    </div>

                    <div class="col-lg-3 col-12 ms-auto mt-4 mt-lg-0">
                        <p class="copyright-text">Copyright © Andrea Francy 2021 
                        <br><br>Design: <a href="https://templatemo.com" target="_parent">TemplateMo</a></p>
                    </div>

                </div>
            </section>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/scrollspy.min.js"></script>
        <script src="/js/custom.js"></script>

    </body>
</html>